<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
  
  <title>Seth's Portfolio {% block title %}{% endblock %}</title>
</head>

<nav class="navbar navbar-expand-xl bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about/">About Me</a>
        <a class="nav-link" href="/cv/">Resume</a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/projects/">All Projects</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/projects/portfolio">Portfolio Site</a></li>
            <li><a class="dropdown-item" href="/projects/slack">Slack Analysis</a></li>
            <li><a class="dropdown-item" href="/projects/ops">Operations Menu</a></li>
            <li><a class="dropdown-item" href="/projects/homelab">Homelab</a></li>
          </ul>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="https://www.linkedin.com/in/goochseth">LinkedIn</a>
        <a class="nav-link" href="https://www.github.com/goochs">Github</a>
      </div>
    </div>
  </div>
</nav>

<body>
  <div>
    {% block content %}
    {% endblock %}
  </div>
  <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>

</html>